h2{
    width: 350px;
    text-align: center;
    border: solid black 2px;
    border-radius: 5px;

}
.para{
    /* named color: ; */
    color: black;
}
.para4{
    /* named rgba: ; */
    color: rgb(244, 200,150,0.53);
}
.para2{
    /* named Hexadecimal ; */
    color:#192becc1;
}
.para3{
    /* named HSLA */
    color: hsl(120, 100%, 50%,0.5);
}